/* vars.css */

:root {
    --cor-fundo-esquerda: #038B4B;
    --cor-texto-padrao: #ffffff;
    --cor-fundo-senai: #152049;
    --cor-fundo-direita: #ffffff;
    --cor-fundo-rodape: #152049;
    --cor-texto-rodape: #ffffff;
    /* LADO B */


    --cor-container-vermelho: #FF0000;
    --cor-border: #00C1DB;
    
}



